#bsod {
    background:#0000aa;
    color:#ffffff;
    font-family:courier;
    font-size:12pt;
    text-align:center;
    
    position: absolute;
	top:0px;
	left:0px;
	width: 100%;
	height: 100%;
}

#bsod blink {
    color:yellow;
}

#bsod .neg {
    background:#fff;
    color:#0000aa;
    padding:2px 8px;
    font-weight:bold;
}

#bsod p {
    margin:30px 100px;
    text-align:left;
}

#bsod a,a:hover {
    color:inherit;
    font:inherit;
}

#bsod .menu {
    text-align:center;
    margin-top:50px;
}