html, body {
	height: 100%;
}
body {
	padding: 0;
	margin: 0;            /* required to "hide" distance div */
	background-color:white;
	background-image:url(../images/background.jpg);
	background-size:100%;
	background-repeat:no-repeat;
}

body:after
{
	content: url(../images/typeimages/gallery.png) url(../images/typeimages/github.png) url(../images/typeimages/network.png) url(../images/typeimages/twitter.png);
	display: none;
}

* {
	border: 0 none;
	font-size: 1em;
	list-style: none outside none;
	margin: 0;
	outline: medium none;
	padding: 0;
	text-decoration: none;
}

#profile {
    float: left;
    width: 100%;
    z-index: 2;
    display: none;
}
#networks {
	float: left;
	width: 100%;
    z-index: 2;
    display: none;
}
a {
	color: #666666;
}
#networks li {
	float: left;
	height: 80px;
	width: 290px;
	list-style: none;
}
#networks li a img {
	float: left;
	margin: 0 10px 0 15px;
}
#networks li a {
	display: block;
	height: 65px;
	padding: 10px 0 5px;
	text-decoration: none;
	width: 300px;
}
#networks li a strong {
	color: #000000;
	display: block;
	font: 18px /20px "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding-top: 2px;
}
#networks li a:hover, #networks li a:focus {
    background: none repeat scroll 0 0 rgba(164, 173, 183, 0.15);
}
#networks li a:active {
    background: none repeat scroll 0 0 rgba(164, 173, 183, 0.25);
    padding: 12px 0 3px;
}

#networks li a:hover img {
    margin-left: 10px;
}

#tweetcontainer {
	display: none;
	z-index:1;
}

#tweets li {
	background-position: 5px 5px;
	background-repeat: no-repeat;
	border: 1px solid #999999;
	height: auto;
	list-style: none outside none;
	margin-bottom: 2px;
	min-height: 55px;
	padding-left: 65px;
	padding-top: 2px;
	width: 500px;
}
#content {
	text-align: left;
	width: 640px;
	height: 520px;
	border: thick solid;
	background: #fff;
	border-color: #f99;
	margin: 0 auto;
}

#code {
	display: none;
	overflow: auto;
}
#code.loading {
	background: url(../images/background-code-loading.gif) center center no-repeat;
}
#code .commit {
	background: url(../images/background-commit.png) repeat-x;
	cursor: pointer;
	height: 40px;
	overflow: hidden;
	padding: 0 10px;
}
#code .commit .repository {
	color: #000;
	display: block;
	font: bold 13pt 'Calibri', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	float: left;
	line-height: 43px;
	text-decoration: none;
}
#code .commit .date {
	color: #888;
	float: right;
	line-height: 42px;
}
#code .commit .message {
	line-height: 42px;
	overflow: hidden;
	padding-left: 10px;
	text-overflow: ellipsis;
	white-space: nowrap;
}
#code .commit-description {
	background: url(../images/background-code-description.gif);
	color: #fff;
	padding: 10px;
	-moz-box-shadow: inset #000 0 0 3px;
	-webkit-box-shadow: inset #000 0 0 3px;
}
#code .commit-description p {
	font-size: 14px;
	font-weight: bold;
	text-shadow: #000 0 1px 2px;
}
#code .commit-description .link {
	background-color: rgba(0, 0, 0, 0.3);
	display: inline-block;
	padding: 5px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
#code code {
	display: block;
	font: 11pt 'consolas', 'Monaco', monospace;
	margin-bottom: 10px;
	/*  overflow:auto;*/
	padding: 0 10px;
	/*  white-space:pre;*/
}

#flickr {
	display: none;
	background-color: #000;
	border: 2px solid white;
}

.pagecontent {
    position: relative;
}

.pagecontent div.firstlevel {
	border:1px solid #999;
	border-top:0;
	height:520px;
	font-size:14px;
	background-color:#fff;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
}

#areacontainer {
	width: 128px;
	position:relative;
	top:440px;
	left:570px;
    z-index: 10;
}

#closecontainer {
	width: 20px;
	position:relative;
	top:-20px;
	left:620px;
	z-index: 8;
}

#closeimage {
	z-index: 9;
}

#fork-me {
  background:url(../images/background-fork-me.png) no-repeat;
  cursor:pointer;
  height:150px;
  left:-107px;
  position:absolute;
  top:-4px;
  width:150px;
  z-index:1;
}

#fork-me:hover {
  background-position:0 -150px;
}

#fork-me:active {
	background-position:0 -299px;
}

#maincontainer {
	padding-top: 20px;
}

#credits {
	color: white;
	font: 10px "Lucida Grande", Verdana, sans-serif;
}

#credits a {
	color: black;
	text-decoration: none;
}

#credits a:hover {
	color: white;
	text-decoration: underline;
}

a.back{
            width:256px;
            height:73px;
            position:fixed;
            bottom:15px;
            right:15px;
            background:#fff url(codrops_back.png) no-repeat top left;
        }
        .scroll{
            width:133px;
            height:61px;
            position:fixed;
            bottom:15px;
            left:150px;
            background:#fff url(scroll.png) no-repeat top left;
        }
        .info{
            text-align:right;

        }
ul#navigation {
    position: fixed;
    margin: 0px;
    padding: 0px;
    top: 10px;
    left: 0px;
    list-style: none;
    z-index:9999;
}
ul#navigation li {
    width: 100px;
}
ul#navigation li a {
    display: block;
    margin-left: -2px;
    width: 100px;
    height: 70px;    
    background-color:#CFCFCF;
    background-repeat:no-repeat;
    background-position:center center;
    border:1px solid #AFAFAF;
    -moz-border-radius:0px 10px 10px 0px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -khtml-border-bottom-right-radius: 10px;
    -khtml-border-top-right-radius: 10px;
    /*-moz-box-shadow: 0px 4px 3px #000;
    -webkit-box-shadow: 0px 4px 3px #000;
    */
    opacity: 0.6;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);
}
ul#navigation .profile a{
    background-image: url(../images/typeimages/profile_icon.png);
}
ul#navigation .network a{
    background-image: url(../images/typeimages/network_icon.png);
}
ul#navigation .twitter a      {
    background-image: url(../images/typeimages/twitter_icon.png);
}
ul#navigation .gallery a      {
    background-image: url(../images/typeimages/gallery_icon.png);
}
ul#navigation .code a      {
    background-image: url(../images/typeimages/github_icon.png);
}

.twitter-timeline {
    width: 100%;
    height: 520px;
}

#gameover {
    position: absolute;
    top: 0px;
    left: 0px;
}
